@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Orbitron:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Alatsi', sans-serif;
    /*width: 100% !important;*/
}
.first-section {
    /*position: absolute;*/
    display: flex;
    height: 100vh;
    width: 100%;
}
.login {
    cursor: pointer;
    font-size: 12px;
    /*margin-left: 3px;*/
    position: absolute;
    left: 94%;
    top: 7px;
    /*text-align: right;*/
}
.bg-black-custom {
    position: relative;
    background:#000;
    height:100vh;
    width: 50vw;
    overflow: hidden;
    overflow-wrap: break-word;
}
.bg-white-custom {
    position: relative;
    background:#fff;
    height:100vh;
    width: 50vw;
    overflow: hidden;
    overflow-wrap: break-word;
}
.bodyInfo {
    position: relative;
    top: 50%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    
}
.first-section-title {
    position: relative;
    top: 45%;
    left: 55%;
    transform: translateX(-50%) translateY(-50%);
    color: #000;
    font-size: 55px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
}
.txt-white {
    position: absolute;
    color: #000;
    right: 0rem;
    top: 96%;
    left: 95.5%;
    font-size: 19px;
}
.txt-black {
    position: absolute;
    color: #fff;
    top: 96%;
    font-size: 19px;
  }
.fa-linkedin-custom {
    position: absolute;
    /* color: #0a66c2; */
    color: black;
    top: 96%;
    left: 46%;
}
.fa-envelope-custom {
    position: absolute;
    /* color: #cf4c4a; */
    color: black;
    top: 96%;
    left: 50%;
    margin-left: 5px;
}
.second-section {
    /*position: absolute;*/
    overflow: hidden;
    top: 100%;
    display: flex;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #f5f5f7;
}
.projects {
    color: #000;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
    text-align: center;
}
.github-link {
    position: absolute;
    left: 94%;
 }
.lead {
    color: #fff;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
}
.lead hr {
    /* #12ff91 */
    color: #00ffff !important;
}
.project {
    background-color: lightgray;
}

.footer {
    /*position: absolute;*/
    overflow: hidden;
    /*top: 206%;*/
    /*width: 100%;*/
    /*background-color: #efedec;*/
    background-color: #d0d5d4;
    /*background-color: #c9cec8;*/
}
.footer-icon {
    display: flex;
}
.copyright {
    display: inline;
    text-align: right;
}

/* For Screen From 765px to 780 */
@media screen and (min-width: 765px) and (max-width: 780px) {
    .lead {
        font-size: 23px;
    }
    .first-section-title{
        font-size: 50px;
        overflow-wrap: break-word;
    }
    .fa-envelope {
        margin-left: 12px;
    }
}

/* For Screen From 550px to 765px */
@media screen and (min-width: 550px) and (max-width: 765px) {
    .lead {
        font-size: 18px;
    }
    .first-section-title{
        font-size: 36px;
        overflow-wrap: break-word;
    }
    .fa-envelope {
        margin-left: 12px;
    }
}

/* For Screen From 375px to 550px */
@media screen and (min-width: 375px) and (max-width: 550px) {
    .lead {
        font-size: 14px;
    }
    .first-section-title{
        font-size: 36px;
        overflow-wrap: break-word;
    }
    .fa-envelope {
        margin-left: 12px;
    }
}

/* For Screen From 280px to 375px */
@media screen and (min-width: 280px) and (max-width: 375px) {
    .lead {
        font-size: 11px;
    }
    .first-section-title{
        font-size: 26px;
        overflow-wrap: break-word;
    }
    .fa-envelope {
        margin-left: 13px;
    }
}

/* For Screen From 50px to 280px */
@media screen and (min-width: 50px) and (max-width: 280px) {
    .bg-white-2-custom {
        display: none;
    }
    .bg-black-1-custom {
        display: none;
    }
    .first-section-title {
        font-size: 30px;
    }
    .fa-envelope-custom {
        margin-left: 16px;
    }
}